<!DOCTYPE html>

<title>Список статей</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <a href="{{ path('app_article_new') }}">Создать статью</a>
</div>

<div>
    <h1>Список статей</h1>
    <table>
        <thead>
            <tr>
                <th>Уникальный код</th>
                <th>Заголовок</th>
            <tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.uid }}</a></td>
                    <td>{{ article.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}